li a {
    color: bisque;
    font-weight: lighter;
}


.navBar {
    background-color: #292929;
    border-radius: 20px;
    height: 50px;
    width: 95%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: visible;
    margin-top: 20px;
    margin-bottom:16px;
    margin-left: 2%;
    margin-right: 0%;
    grid-area: nav;

}

.navItem.logo {
    text-align: center;
    height: 70px;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    border: 0.3rem solid #292929;

    &:hover {
        height: 80px;
        border: 0.3rem solid #fc5603;
    }
}

  
/* .barra {
    margin-top: 20px;
    margin-bottom: 0.2px;
    grid-area: nav;
} */
  
.navBar ul {
    height: 50px;
    flex-direction: row;
    justify-content: center;
}
  
.navItem {
    border: 2px;
    margin: 5px;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
  
   .derecho {
        margin-left: 25px;
  }